<a href="https://colab.research.google.com/github/dsdayat/Assignment-DS-Day-7-Dibimbing/blob/main/HW_HTnc_Agus_Nur_Hidayat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tugas Day 7 Hypothesis testing**
Tugas nya adalah lakukan pengujian hipotesis untuk
membuktikan apakah education berpengaruh terhadap
income atau tidak?

e=alpha : 0.05
H0<alpha = education tidak berpengaruh terhadap income
H1>alpha = education berpengaruh terhadap income

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('marketing_campaign.csv')

In [ ]:
df.shape
print(df)

     ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
0     5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
1     2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
2     4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3     6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4     5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...
...                                                 ...
2235  10870\t1967\tGraduation\tMarried\t61223\t0\t1\...
2236  4001\t1946\tPhD\tTogether\t64014\t2\t1\t10-06-...
2237  7270\t1981\tGraduation\tDivorced\t56981\t0\t0\...
2238  8235\t1956\tMaster\tTogether\t69245\t0\t1\t24-...
2239  9405\t1954\tPhD\tMarried\t52869\t1\t1\t15-10-2...

[2240 rows x 1 columns]

In [ ]:
N = 2240 # jumlah populasinya
e = 0.05 # parameter margin of errornya

In [ ]:
slovin = N/(1+N * e**2)

In [ ]:
def slovin(N,e):
    return N/(1+N * e**2)

In [ ]:
slovin(N,e)

339.3939393939393

In [ ]:
x= slovin (N,e)/1000

In [ ]:
if (x<e):
  print("education tidak berpengaruh terhadap income")
else:
  print("education berpengaruh terhadap income")

education berpengaruh terhadap income